<h3>Click on the 'ROLL' button to get random dice numbers</h3>

<img src="{{ twoDiceImage }}" alt="Two dice image" width="300">
{{!-- <img src="2_dice.png" alt="Two dice image" width="300"> --}}

<br />
<br />

<a href="/roll"><button>ROLL ME!</button></a>